STORE_CORS=http://localhost:6001,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:6001,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://medusa:medusa@localhost:5432/moveboard
PORT=9000

# Razorpay
RAZORPAY_ID=
RAZORPAY_SECRET=
RAZORPAY_ACCOUNT=
RAZORPAY_WEBHOOK_SECRET=
